.Footer .container2{
    margin-top: 10em;
    margin-bottom: 3em;
    text-align: center;
}

.Footer .container2 a{
    color: var(--cor-principal);
    font-weight: 600;
    cursor: pointer;
}

.Footer .container2 p:nth-of-type(2){
    color: var(--cor-2);
    font-size: 0.9em;
}